// FUENTES

// Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Bebas Neue";
    src: url(../media/fonts/BebasNeue-Regular.ttf);
}

$header-title-font: 'Bebas Neue';