#main-borrarCuenta {
    @include container-flex-center;

    .form-container {
        @include form-container-center;

        > header {
            > h2 {
                font-size: 2rem;
            }
        }
        > p {
            max-width: 310px;
            color: red;
        }
        #form-borrarCuenta {
            .input-field-container {
                @include input-field-container;
            }

            .form-button {
                @include form-button;
            }
        }

        #form-buttons {
            .form-button {
                @include form-button;
            }
        }
    }
    #form-buttons {
        .form-button {
            @include form-button;
        }
    }
}
