#main-exportarDepartamentos{
    @include container-flex-center;

    .form-container{
        @include form-container-center;

        >header{
            >h2{
                font-size: 2rem;
            }
        }

        #form-exportarDepartamentos{

            .select-field-container {
                width: 314px;
                position: relative;
                background-color: white;
                border-radius: 5px;
                margin: auto;
    
                label {
                    position: absolute;
                    left: 15px;
                    font-size: 14px;
                }
    
                select {
                    width: 100%;
                    padding: 15px 20px 3px 30px;
                    outline: none;
                    margin-left: 0px;
                    border: none;
                    border-bottom: 3px solid #6a6865;
                    border-radius: 5px;
                    font-size: 1rem;
    
                    &:focus {
                        background-color: #dbdbdb;
                        border-color: orange;
                    }
                }
            }

            .input-field-container{
                @include input-field-container;
            }

            .form-button{
                @include form-button;
            }
        }

        #form-buttons{
            .form-button{
                @include form-button;
            }
        }
    }
}