#header-login {
    grid-template-columns: 70px auto max-content;

    #header-title {
        margin-left: 230px;
    }

    #app-info-container {
        position: relative;
        align-self: center;
        .form-button {
            display: block;
            border-radius: 5px;
            background-color: #ff7f2a;
            color: white;
            border: none;
            padding: 10px;
            font-size: 1.3rem;
            font-weight: bold;
        }

        #app-info-box {
            transform: translateY(-150%);
            border-radius: 10px;
            min-width: max-content;
            position: absolute;
            right: 0;
            top: 60px;
            z-index: 1;
            flex-direction: column;
            transition: all 0.7s ease;

            div {
                margin: 10px;
                min-width: max-content;
                border-radius: inherit;
                text-align: center;

                &:nth-child(1) {
                    background-image: url("../css/images/catalogoDeRequisitos.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(2) {
                    background-image: url("../css/images/diagramaDeCasosDeUso.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(3) {
                    background-image: url("../css/images/diagramaDeClases.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(4) {
                    background-image: url("../css/images/arbolDeNavegacion.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(5) {
                    background-image: url("../css/images/relacionDeFicheros.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(6) {
                    background-image: url("../css/images/estructuraDeAlmacenamiento.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &:nth-child(7) {
                    background-image: url("../css/images/modeloFisicoDeDatos.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    width: 100%;
                    color: inherit;
                    background-color: #0000009c;
                    padding: 25px 50px 25px 50px;
                    border-radius: inherit;
                    font-weight: bold;
                    transition: all 0.4s ease;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

#main-login {
    @include container-flex-center;

    .form-container {
        @include form-container-center;

        > header {
            > h2 {
                font-size: 2rem;
            }
        }
        #form-login {
            .input-field-container {
                @include input-field-container;
            }

            .form-button {
                @include form-button;
            }
        }

        #form-buttons {
            .form-button {
                @include form-button;
            }
        }
    }
}
