#header-login {
    grid-template-columns: 70px auto max-content;

    #header-title {
        margin-right: 40px;
    }
}

#main-login {
    @include container-flex-center;

    .form-container {
        @include form-container-center;

        > header {
            > h2 {
                font-size: 2rem;
            }
        }
        #form-login {
            .input-field-container {
                @include input-field-container;
            }

            .form-button {
                @include form-button;
            }
        }

        #form-buttons {
            .form-button {
                @include form-button;
            }
        }
    }
}
